/* CSS file for handicaps                                             */
/* Author: Paul Carter                                                */
/* Created 15 Jul 2011                                                */


p.right {
    text-align: left;
		}
p.oblique {
    color: rgb(81, 81, 81);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

table
{	
	background: transparent;
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height:481px;
    letter-spacing: 0;
    line-height: 7px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding: 6px;
    position:absolute;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    vertical-align: bottom;
    width:150px;
}
td
{


}

